# Twilio Configuration
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""

# OpenAI Configuration
OPENAI_API_KEY=""

# Application Configuration
FLASK_ENV="development"
FLASK_DEBUG="True"
SERVER_URL=""

# PostgreSQL Database Configuration
DB_HOST=""
DB_PORT="5432"
DB_NAME="etpoultry_auth"
DB_USER="etpadmin"
DB_PASSWORD=""

# JWT Authentication
JWT_SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="15"
REFRESH_TOKEN_EXPIRE_DAYS="7"